<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bepca - welcome{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Startbox">
        <meta name="author" content="RunWebRun">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Favicon-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap"><!-- Style-->
        <!-- build:css -->
        <link rel="stylesheet" href="{{asset('assets/vendors/css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/css/swiper-bundle.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}"><!-- endbuild -->
        <!-- jQuery-->
        <script src="{{asset('assets/vendors/js/jquery.min.js')}}"></script>
    </head>
    <body class=" has-topbar">
    <!-- Navbar top-->
    <nav class="navbar navbar-expand-lg navbar-top  bg-white">
        <div class="container">
            <a class="navbar-brand" href="/">
                  BEPCA
            </a>
            <a class="navbar-toggle order-4 popup-inline" href="#navbar-mobile-style-1"><span></span><span></span><span></span></a>
            <ul class="nav navbar-nav order-2 ms-auto nav-no-opacity">
                <li class="nav-item">
                    <a class="nav-link" href="/"><span>Home</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#administration"><span>Administration</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#guidelines"><span>Guidelines</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/#about"><span>About BEPCA</span></a>
                </li>

            </ul><!-- Button-->
            <a class="btn d-none d-sm-inline-flex btn btn-sm btn-accent-1 ms-auto ms-lg-60 me-30 me-lg-0 order-2 order-lg-3" href="/#contact">Сontact</a>
        </div>
    </nav><!-- Navbar mobile-->
    <div class="navbar navbar-mobile navbar-mobile-style-1 bg-white mfp-hide" id="navbar-mobile-style-1">
        <div class="navbar-wrapper">
            <div class="navbar-head"><a class="navbar-brand d-block d-md-none" href="/">
                    BEPCA
                </a>
                <a class="navbar-toggle popup-modal-dismiss" href="#"><span></span><span></span><span></span></a></div>
            <div class="navbar-body">
                <ul class="nav navbar-nav navbar-nav-collapse">
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/"><span>Home</span></a>
                    </li>

                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/#administration"><span>Administration</span></a>
                    </li>

                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/#guidelines"><span>Guidelines</span></a>
                    </li>

                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/#about"><span>About BEPCA</span></a>
                    </li>

                </ul>
            </div>
            <div class="navbar-footer">
                <!-- Contacts-->
                <ul class="list-group borderless font-size-15">
                    <li class="list-group-item">Email: <a href="mailto:info@bepca.com">info@bepca.com</a></li>
                    <li class="list-group-item">Phone: <a href="tel:(+229) 17 00 35 19">(+229) 17 00 35 19</a></li>
                </ul><!-- Social-->

            </div>
        </div>
    </div><!-- Topbar-->
    <div class="navbar navbar-topbar navbar-expand-xl navbar-dark navbar-absolute top-0 d-none d-xl-flex">
        <div class="container">
            <!-- Language switcher-->
            <!-- Contacts-->
            <ul class="nav navbar-nav nav-gap-xl nav-contacts nav-no-opacity">
                <li class="nav-item"><a class="nav-link" href="tel:(+229) 17 00 35 19"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
                            <path fill="currentColor" d="M16 11.98v2.408a1.604 1.604 0 0 1-1.094 1.527 1.613 1.613 0 0 1-.66.079 15.941 15.941 0 0 1-6.943-2.465A15.672 15.672 0 0 1 2.476 8.71a15.869 15.869 0 0 1-2.47-6.96A1.603 1.603 0 0 1 .96.136C1.163.047 1.384 0 1.607 0h2.414A1.61 1.61 0 0 1 5.63 1.381c.102.77.29 1.528.563 2.256a1.603 1.603 0 0 1-.362 1.694l-1.022 1.02a12.86 12.86 0 0 0 4.827 4.817l1.022-1.02a1.61 1.61 0 0 1 1.697-.36c.73.271 1.489.46 2.26.561A1.61 1.61 0 0 1 16 11.98Z" />
                        </svg>(+229) 17 00 35 19</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="mailto:info@bepca.com"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" fill="none">
                            <path fill="currentColor" d="M14 0H0l7 4.583L14 0Z" />
                            <path fill="currentColor" d="M14 9.821V2L7 6.5 0 2v7.821C0 10.47.63 11 1.4 11h11.2c.77 0 1.4-.53 1.4-1.179Z" />
                        </svg>info@bepca.com</a>
                </li>

            </ul>

        </div>
    </div><!-- Main-->

    <div class="content-wrap ">
        {% block body %}{% endblock %}
    </div><!-- Footer-->

    <footer class="bg-dark text-white pt-120 pb-100 footerNext">
        <div class="container">
            <div class="row gy-50">
                <div class="col-12 col-lg-3">
                    <a class="d-block text-white mb-30" href="/">
                       BEPCA
                    </a>
                    <p class="font-size-15 mb-35">
                        BEPCA is authorized by Government of Benin to operate in the state of Benin.
                    </p>

                    <p class="font-size-13 text-muted m-0">© Design by BEPCA.</p>
                </div>
                <div class="col-2 d-none d-lg-block"></div>
                <div class="col-12 col-lg-7">
                    <div class="row gy-50">
                        <div class="col-6 col-md-4">
                            <h6 class="display-6 text-white mb-20">Headings</h6>
                            <ul class="nav flex-column text-white nav-opacity nav-gap-sm">
                                <li class="nav-item">
                                    <a class="nav-link" href="/#administration"><span>Administration</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/#guidelines"><span>Guidelines</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/#about"><span>About BEPCA</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-4">
                            <h6 class="display-6 text-white mb-20">Contact</h6>
                            <ul class="nav flex-column text-white nav-opacity nav-gap-sm">
                                <li class="nav-item"><a class="nav-link" href="tel:(+229) 17 00 35 19">(+229) 17 00 35 19</a></li>
                                <li class="nav-item"><a class="nav-link" href="mailto:info@bepca.com">info@bepca.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Vendors-->
    <!-- build:js -->
    <script src="{{asset('assets/vendors/js/bootstrap.js')}}"></script>
    <script src="{{asset('assets/vendors/js/imagesloaded.pkgd.j')}}s"></script>
    <script src="{{asset('assets/vendors/js/isotope.pkgd.js')}}"></script>
    <script src="{{asset('assets/vendors/js/jarallax.js')}}"></script>
    <script src="{{asset('assets/vendors/js/jarallax-element.js')}}"></script>
    <script src="{{asset('assets/vendors/js/jquery.countdown.js')}}"></script>
    <script src="{{asset('assets/vendors/js/jquery.magnific-popup.js')}}"></script>
    <script src="{{asset('assets/vendors/js/ofi.js')}}"></script>
    <script src="{{asset('assets/vendors/js/jquery.inview.js')}}"></script>
    <script src="{{asset('assets/vendors/js/swiper-bundle.js')}}"></script>
    <script src="{{asset('assets/vendors/js/gist-embed.min.js')}}"></script>
    <script src="{{asset('assets/js/helpers.js')}}"></script>
    <script src="{{asset('assets/js/controllers/show-on-scroll.js')}}"></script>
    <script src="{{asset('assets/js/controllers/countdown.js')}}"></script>
    <script src="{{asset('assets/js/controllers/isotope.js')}}"></script>
    <script src="{{asset('assets/js/controllers/navbar.js')}}"></script>
    <script src="{{asset('assets/js/controllers/stretch-column.js')}}"></script>
    <script src="{{asset('assets/js/controllers/swiper.js')}}"></script>
    <script src="{{asset('assets/js/controllers/others.js')}}"></script><!-- endbuild -->

    {% block scripts %}{% endblock %}
    </body>
</html>
